@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

html,
body {
  font-family: 'Pretendard', 'Poppins', sans-serif;
}
