.header {
  position: sticky;
  /* background: #1e293b; */
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 12px 20px 0 16px;
  z-index: 100;
  width: 100%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.06); */
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 12px 5px 6px;
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 0.439); */
  /* border: 1px solid rgba(206, 206, 206, 0.407); */
}

.accountRole {
  color: #94a3b8;
  font-size: 10px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  color: white;
}

.accountName {
  color: #464343;
  font-size: 12px;
  font-weight: 700;
}

.noAccount {
  color: #64748b;
  font-size: 12px;
}
